@media only screen and (min-width: 320px) {
  body {
    font: 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .geomerty_1 {
    margin-top: 0;
    margin-left: 0;
    width: 34.68%; 
  }
  
  .svg_1 {  
  margin-top: 1.25em;  
  }

.main-section {
  margin: 2em 1em;
}

.name {
    font: 'Playfair Display', sans-serif;
    font-size: 3.125rem;
    line-height: 3.125rem;
    color: #1a2236;
}

.self-description {
    font:'Poppins', sans-serif;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #1a2236;    
}

.btn {
  font: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.75rem 0.5rem;
  color: #fff;
  text-align: center;
  background: #1a2236;
  width: 100%;  
} 

.geometry-images-2 {
  width: 100%;
}

.btn:link {
  fill: solid #1a2236;
  stroke: solid #1a2236;
}

.btn:hover {
  background: #1a2236;
  color: #fff;
}

.btn:active {
  background: #1a2236;
  color: #fff;
}
}
