@media only screen and (min-width: 320px) {
  body {
    font: 16px;
  }
  /* stylelint-disable-next-line no-eol-whitespace */
  
  h2 {
    font-weight: 400;
  }
  /* stylelint-disable-next-line no-eol-whitespace */
  
  .container {
    display: flex;
    flex-direction: column;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
  }

  .geomerty_1 {
    margin-top: 0;
    margin-left: 0;
    width: 0.34.68vw;
  }
  /* stylelint-disable-next-line no-eol-whitespace */
  
  .navigation {
    margin-top: 1.25em;
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  .main-section {
    margin: 2em 1em;
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  .name {
    font: 'Playfair Display', sans-serif;
    font-size: 3.125rem;
    line-height: 3.125rem;
    color: #1a2236;
  }
  /* stylelint-disable-next-line no-eol-whitespace */
  
  .self-description {
    font: 'Poppins', sans-serif;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    /* stylelint-disable-next-line no-eol-whitespace */
    color: #1a2236;
  }

  .btn {
    font: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.75rem 0.5rem;
    color: #fff;
    text-align: center;
    background: #1a2236;
    width: 100%;
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  .geometry-images-2 {
    width: 100%;
  }

  .btn:hover {
    background: #fff;
    color: #1a2236;
    border: solid 1px #1a2236;
  }

  .btn:active {
    background: #fff;
    color: #1a2236;
    border: solid 3px #1a2236;
  }

  .with-image-background {
    height: 160px;
    width: 100%;
    background-image: url("./images/image_geometry_2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  h3 {
    font: 'Poppins', sans-serif;
    font-weight: 300;
  }

  .project-img {
    width: 100%;    
  }

  .grid-container {
    margin-top: 0;   
    display: grid;
    grid-template: 1.25rem 1em 1em 1.75em 1.25em 2.75em 1.25em / 
      1.25em 6.25em 0.625em 7.75em 0.625em 6.5em 3.75em;
    background-color: #1a2236;
    padding: 1.25em;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
  }

  .project-heading {
    font-family: 'Playfair Display', sans-serif;    
    font-weight: 400;
    font-size: 3.5em;
    line-height: 100%;
    color: #1A2236;
  }

  .project-name {
    font: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    margin-top: 0;
    line-height: 80%;
    color: #fff;
    grid-row: 2/3;
    grid-column: 2/-2;
    font-family: 'Poppins';
  }

  .tech-1, .tech-2, .tech-3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 80%;
    color: #000000;  
    padding: 0.5em 0.5em;  
    background: #92DCDC; 
  }

  .tech-1 {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  .tech-2 {
    grid-row: 4/5;
    grid-column: 4/5;
  }

  .tech-3 {
    grid-row: 4/5;
    grid-column: 6/7;
  }

  .project-btn {
    background-color: #1a2236;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5em;
    border: 1px solid #fff;
    grid-row: 6/7;
    grid-column: 2/6;
  }

  .about-heading {
    margin-top: 0;    
    font-family: 'Playfair Display', sans-serif;    
    font-weight: 400;
    font-size: 3.125rem;
    line-height: 100%;
    color: #1a2236;
  }

  .about-paragraph {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1A2236;
    padding-bottom: 2em;
  }

  .get-cv {
    position: relative;
    margin: 2em 1em;       
  }

  .parent-image {
    position: relative;
    width: 100%;     
  }
  
  .child-image {
    position: absolute;
    top: 0.8125em;
    left: 5em;
  }

  .languages, .frameworks, .skills {
    color: #fff;       
    padding: 3.5em 3.5em;
    margin: 1em;
  }

  .languages {
    background: url(./images/hashtag.png) right bottom no-repeat;
    background-color: #1C528A;    
  }

  .frameworks {
    background: url(./images/ic_framework.png) right bottom no-repeat;
    background-color: #E2505C;    
  }

  .skills {
    background: url(./images/ic_skills.png) right bottom no-repeat;
    background-color: #FEBF52;    
  }
  
  .language, .framework, .skill {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 1.6875em;
    letter-spacing: -0.0525em;    
  } 

  .language-heading, .framework-heading, .skill-heading {
    font-family: 'Poppins', sans-serif;  
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.875em;    
  }
  
  .about-section {
    display: flex;
    flex-direction: column;
    margin: 3.5em 1em 3.125em;
  }
  .get-started {
    display: flex;
    flex-direction: column;
    margin-top: 0;    
  }

  .geomerty_2 {
    width: 37.1875%;
    align-self: flex-start;
    margin-bottom: 3.5em;
  }
  .get-started-heading {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5em;
    line-height: 100%;
    color: #1A2236;    
    margin-top: 0;    
    margin-left: 1.125em;    
    
  }

  .get-started-paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.3125em;
    letter-spacing: -0.01em;
    color: #1A2236;
    margin: 0 auto 2em 1em;     
  }

  .second-btn {
    margin: 1.25em 0.75em 4em 0.125em;
  }

  .name-input-container {
    position: relative;
  }

  .name-input, .email-input, .message-input {
    margin: 0.25em 1em;
    border-radius: 4px;
    padding-left: 2.25em;
  }

  .name-input {
    padding-top: 0;
  }
  .name-input {
    border: 1px solid #DFDFE0;
    width: 85%;
    height: 3.25em;
    position: relative;
  }

  

  .name-placeholder {
    font-family: 'Poppins', sans-serif;    
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.3125em;

    color: #1A2236;
    position: absolute;
    top: 1em;
    left: 3em;
    


  }

  ::placeholder {
    font-family: 'Poppins', sans-serif;    
    font-weight: 400;
    font-size: 0.625em;
    line-height: 0.9375em;
    color: #7D7C84;    
  }

  .email-input {
    border: 1px solid #1a2236;
    height: 3.25em;
  }

  .message-input {
    border: 1px solid #DFDFE0;
    height: 7em;
  }
  .social-media {
    margin-top: 0;   
    display: grid;
    grid-template: 2em 1.5em 2em 1.5em 2.5em/ 
      1em 1.5em 1.875em 1.5em 1.875em 1.5em 1.875em 1.5em 1.875em 1.5em 1.875em 1.5em 1em;
    background-color: #1a2236;
    justify-content: space-between;      
  }

  .get-cv-btn {
    grid-row: 2/3;
    grid-column: 2/7;
  }
  .stackoverflow, .github, .twitter, .linkedin, .medium, .angellist {
    grid-row: 4/5;
  }
  .stackoverflow {    
    grid-column: 2/3;
  }

  .github {    
    grid-column: 4/5;
  }

  .twitter {
    grid-column: 6/7;
  }

  .linkedin {
    grid-column: 8/9;
  }

  .medium {
    grid-column: 10/11;
  }
  .angellist {
    grid-column: 12/13;
  }

}
